/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 3 sep. 2023, 00:25:47
    Author     : Fer
*/

#lblTitulo{
    -fx-font-family: Candara;
    -fx-font-weight: bold;
}
#lblPedido{
    -fx-font-family: Candara;
    -fx-font-weight: 900;
}
#lblCierre{
    -fx-font-family: Candara;
    -fx-font-weight: bold;
}