/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2 sept 2023, 21:48:26
    Author     : Fer
*/
#lblPaso3{
    -fx-font-family: Candara;
    -fx-font-weight: 900;
}

#btnContinuar{
    -fx-background-color:  #E1B4D4;
}

